{% extends "base.html" %}

{% block main_class %}p-0{% endblock %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="container-fluid dashboard-fluid">
    <div class="dashboard-wrapper">
        {% include 'dashboard/_sidebar.html' %}
        <div class="dashboard-content">
            {% block dashboard_content %}
            <h2>Добро пожаловать, {{ user.full_name }}</h2>
            <p>Это общая домашняя страница для пользователей без роли.</p>
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}