{% extends "base.html" %}

{% block title %}Пароль изменён{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="alert alert-success">
            <h4 class="alert-heading">Пароль успешно изменён!</h4>
            <p>Ваш пароль был обновлён. Теперь вы можете использовать новый пароль для входа.</p>
            <hr>
            <a href="{% url 'home' %}" class="btn btn-primary">На главную</a>
        </div>
    </div>
</div>
{% endblock %}