{% extends "base.html" %}
{% block title %}Подтверждение сброса{% endblock %}
{% block content %}
<h2>Введите код и новый пароль</h2>
<form method="post">
    {% csrf_token %}
    <input type="email" name="email" class="form-control mb-2" placeholder="Ваш email" required>
    <input type="text" name="code" class="form-control mb-2" placeholder="Код из письма" required>
    <input type="password" name="new_password1" class="form-control mb-2" placeholder="Новый пароль" required>
    <input type="password" name="new_password2" class="form-control mb-2" placeholder="Повторите пароль" required>
    <button type="submit" class="btn btn-success">Сменить пароль</button>
</form>
{% endblock %}